.newsletter-section {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 100px auto;
}

.newsletter-section h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.newsletter-section p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
    background-color: skyblue;
}

.newsletter-section form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-section input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    font-size: 14px;
    margin-right: 10px;
}

.newsletter-section button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.newsletter-section button:hover {
    background-color: #444;
}
